.u-section-1 .u-sheet-1 {
  min-height: 496px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0 0;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 155px;
  padding: 8px 33px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: -40px 244px 0 679px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -86px 0 0 921px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -28px auto 0 25px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 42px 0 0 19px;
}

.u-section-1 .u-line-1 {
  width: 1107px;
  transform-origin: left center 0px;
  margin: 10px auto 0 17px;
}

.u-section-1 .u-text-5 {
  margin: 25px 0 0 19px;
}

.u-section-1 .u-line-2 {
  width: 1107px;
  transform-origin: left center 0px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 16px 130px 60px 793px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-top: -46px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -76px;
    margin-right: 144px;
    margin-left: 579px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 821px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -49px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 19px;
    margin-right: 30px;
    margin-left: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -47px;
    margin-right: 34px;
    margin-left: 469px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 601px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -78px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 503px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 323px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 421px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 40px;
    margin-left: 123px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 221px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -164px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 123px;
  }
}